.tab-container-root {
  margin-top: 36px;
  min-height: 100vh;
  color: var(--cg-text);
}

.tab-wrapper {
  background: var(--cg-container-a22);
  border: 1px solid var(--cg-border);
}

.header-bar {
  position: relative;
}
